body {
    text-align: center;
    font-family: Helvetica;
}

h1  {
  font-family: Helvetica;
  font-size: 70px;
  font-weight: bold;
  color: white;
}

a  {
  font-family: Helvetica;
  font-size: 18px;
  color: white;
}

h2 {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
}

h4 {
  font-family: Helvetica
  font-size: 23px;
  font-weight: bold;
}

h3 {
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
  color: white;
}

.Banner{
  background-position: center;
  background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);
}

.Bottom{
  background-color: dimgray;
  text-align: left;
  font-size: 14px;
}

.Bottom p{
  font-size: 11px;
  color:white;
}
